<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${judge}">
    <div class="form-group">
        <label th:for="name">Judge Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="court">Court Number</label>
        <input class="form-control" th:field="*{court}" />
        <span th:errors="*{court}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="defendant">Defendant</label>
        <input class="form-control" th:field="*{defendant}" />
        <span th:errors="*{defendant}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="disposition">Case Disposition</label>
        <select name="disposition">
            <option th:each="disposition : ${disposition}"
                    th:text="${disposition.name}"
                    th:value="${disposition}"></option>
        </select>
    </div>

    <input type="submit" value="Add Cheese" />
</form>


</body>
</html>