<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br />
<div th:unless="${judges}">
    <h2>No Watches</h2>
</div>

    <div th:if="${judges}">
        <div  th:each="judge : ${judges}">
            <table>
                <tr>
                    <th>Court Watch: &nbsp;</th>
                    <td><a th:href="@{/judge/viewwatch(id=${judge.id})}" th:text="'Judge ' +${judge.name} + '\'s court on ' + ${judge.getFormattedStartDate()}"></a></td>
                </tr>
                <tr>
                    <th><a th:href="@{/judge/removewatch(id=${judge.id})}" th:text="Delete"></a></th>
                </tr>
            </table>
        </div>
    </div>
<br/>
<br/>

<div th:if="${judges}">
    Example court watch data <a href="/judge/summary">here</a>.
</div>

</body>
</html>