<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${watch}">
    <div class="form-group">
        <label th:for="judge">Judge</label>
        <select name="judgeId">
            <option th:each="judge : ${judges}"
                    th:text="${judge.name}"
                    th:value="${judge.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="date">Watch Date</label>
        <input class="form-control" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="defendant">Defendant</label>
        <input class="form-control" th:field="*{defendant}" />
        <span th:errors="*{defendant}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="disposition">Case Disposition</label>
        <select th:field="*{disposition}">
            <option th:each="disposition : ${dispositions}"
                    th:text="${disposition.name}"
                    th:value="${disposition}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="audability">Audability (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{audability}" />
        <span th:errors="*{audability}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="eyeContact">Eye Contact (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{eyeContact}" />
        <span th:errors="*{eyeContact}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="explainCharges">Explanation of Charges (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{explainCharges}" />
        <span th:errors="*{explainCharges}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="caseDetails">Case Details (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{caseDetails}" />
        <span th:errors="*{caseDetails}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="listeningSkills">Listening Skills (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{listeningSkills}" />
        <span th:errors="*{listeningSkills}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="courtProceedings">Court Proceedings (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{courtProceedings}" />
        <span th:errors="*{courtProceedings}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="voiceTone">Voice Tone (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{voiceTone}" />
        <span th:errors="*{voiceTone}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="timeMgmt">Time Management (1 - 5; 1 being lowest)</label>
        <input class="form-control" th:field="*{timeMgmt}" />
        <span th:errors="*{timeMgmt}" class="error"></span>
    </div>
    <input type="submit" value="Add Watch" />
</form>


</body>
</html>