<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<form method="post" style="max-width:600px;" th:object="${watch}">
    <div class="form-group">
        <label th:for="judge">Judge</label>
        <select name="judgeId">
            <option th:each="judge : ${judges}"
                    th:text="${judge.name}"
                    th:value="${judge.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="date">Watch Date</label>
        <input class="form-control" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="defendant">Defendant</label>
        <input class="form-control" th:field="*{defendant}" />
        <span th:errors="*{defendant}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="disposition">Case Disposition</label>
        <select th:field="*{disposition}">
            <option th:each="disposition : ${dispositions}"
                    th:text="${disposition.name}"
                    th:value="${disposition}"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="audability">Audability (1 - 5; 1 being lowest)</label>
        <select name="audability">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="eyeContact">Eye Contact (1 - 5; 1 being lowest)</label>
        <select name="eyeContact">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="explainCharges">Explains Charges (1 - 5; 1 being lowest)</label>
        <select name="explainCharges">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="caseDetails">Gives Case Details (1 - 5; 1 being lowest)</label>
        <select name="caseDetails">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="listeningSkills">Listening Skills (1 - 5; 1 being lowest)</label>
        <select name="listeningSkills">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="courtProceedings">Court Proceeds Well (1 - 5; 1 being lowest)</label>
        <select name="courtProceedings">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="voiceTone">Voice and Tone (1 - 5; 1 being lowest)</label>
        <select name="voiceTone">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <div class="Form-group">
        <label th:for="timeMgmt">Time Management (1 - 5; 1 being lowest)</label>
        <select name="timeMgmt">
            <option th:text="1"
                    th:value="1"></option>
            <option th:text="2"
                    th:value="2"></option>
            <option th:text="3"
                    th:value="3"></option>
            <option th:text="4"
                    th:value="4"></option>
            <option th:text="5"
                    th:value="5"></option>
        </select>
    </div>
    <input type="submit" value="Add Watch" />
</form>


</body>
</html>