<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="${title}">Court Watch</title>
</head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br />
<div th:unless="${watches}">
    <h2>No Watches</h2>
</div>

<div th:if="${watches}">
    <br/><span th:text="'Last ' + ${watches.size()} + ' watches:'"/>
    <br/><br/>
    <div  th:each="watch : ${watches}" th:unless="${watchStat.index > 5}">
        <table>
            <tr>
                <td><a th:href="@{/watch/editwatch(id=${watch.id})}" th:text="'Watch on ' + ${watch.getFormattedStartDate()}"></a></td>
                <th>&emsp;<a th:href="@{/watch/removewatch(id=${watch.id})}" th:text="Delete"></a></th>
            </tr>
        </table>
    </div>
</div>
<br/>
<br/>

<div th:if="${watches}">
    See statistics and charts <a href="/data/index">here</a>.<br/>
</div>


</body>
</html>