<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="UTF-8"/>
    <script type="/text/javascript">
window.onload = function() {
var dps = [[]];
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	title: {
		text: "Simple Column Chart with Index Labels"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		dataPoints: dps[0]
	}]
});
var xValue;
var yValue;
var indexLabel;

/*<![CDATA[*/
    /*[# th:each="dataPoints, iter : ${dataPointsList"}"]*/
        /*[# th:each="dataPoint : ${dataPoints}"}"]*/
            xValue = parseInt(/*[[${dataPoint.x}]]*/);
            yValue = parseFloat(/*[[${dataPoint.y}]]*/);
            indexLabel = /*[[${dataPoint.indexLabel}]]*/;
            dps[parseInt(/*$[[{iter.index}"]]*/)].push({
                x : xValue,
                y : yValue,
                indexLabel : indexLabel
            });
	    /*[/]*/
	/*[/]*/
/*]]>*/

chart.render();
}
</script>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="canvasjs.min.js"></script>
</body>
</html>