<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" th:inline="javascript" class="init">

/*<![CDATA[*/

window.onload = function() {
var dps = [];
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	title: {
		text: "CourtWatch Results by Judge"
	},
	data: [{
		type: "column",
		//indexLabel: "{y}",
		indexLabelFontColor: "#5A5757",
		dataPoints: dps
	}]
});

var dataPointsList = /*[[${dataPointsList}]]*/ 'null';

            count = 0;
            for (var i = 0; i < dataPointsList.length; i++) {
                var dataPoints = dataPointsList[i];
                for (var j = 0; j < dataPoints.length; j++) {
                    dps[count++] = {
                        x: dataPoints[j].x,
                        y: dataPoints[j].y
                    };
                }
            }
            chart.render();
        }
        /*]]>*/

</script>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="canvasjs.min.js"></script>
</body>
</html>