<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br />
<div th:unless="${judges}">
    <h2>No Data Yet</h2>
</div>

<div th:if="${zeroDivision}">
    <h2>That judge has no watches</h2>
</div>

<div th:if="${judges}">
    <p>Click on the judge's name to see summary of judge's court watches.</p>
    <ul  th:each="judge : ${judges}">
                <li><a th:href="@{/data/highchart(id=${judge.id})}" th:text="'Judge ' +${judge.name}"></a></li>
    </ul>
</div>

<p>There have been <span th:text="${watches}"/> court watches to date.</p>

<div th:replace="fragments :: scripts"></div>
</body>
</html>