<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>



<p>
    Court Watch is a website for organizations looking to monitor their local judges to provide accountability
    and feedback to the court in order to improve court processes, particularly for underrepresented and
    vulnerable groups.
</p>

<br/>
If you are a new user, please <a href="/user/signup">sign up</a> to create your account.
<br/>--------------------------<br/>
If you are an existing user, please <a href="/user/login">log in</a> to access your information.
<br/>--------------------------<br/>
If you have any questions, please do not hesitate to reach out to <a href="mailto:carlfiller@gmail.com">me</a>.

</body>
</html>